<div class="container">
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle><b>Currently Running</b><i class="far fa-clock pl-2"></i></ng-template>
      <ng-template ngbTabContent>
        <app-current></app-current>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>Historical</b><i class="far fa-calendar-alt pl-2"></i></ng-template>
      <ng-template ngbTabContent>
        <p>Shit goes here for historical information about utils</p>
        <button class="btn btn-primary mr-2" (click)="setMessages(1)">
          Set 1
        </button>
        <button class="btn btn-primary mr-2" (click)="setMessages(2)">
          Set 2
        </button>
        <button class="btn btn-primary mr-2" (click)="setMessages(3)">
          Set 3
        </button>
        <button class="btn btn-primary" (click)="setMessages(4)">
          Set 4
        </button>
        <app-logging [messages]="messages"></app-logging>
      </ng-template>
    </ngb-tab>
    <!-- <ngb-tab title="Disabled" [disabled]="true">
      <ng-template ngbTabContent>
        <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
      </ng-template>
    </ngb-tab> -->
  </ngb-tabset>
</div>
