<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Started</th>
      <th>Elapsed Time (s)</th>
      <th>Avg Time (s)</th>
      <th>% Complete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of currentList" (click)="showInstanceDetail(item)">
      <th scope="row">{{item.instanceId}}</th>
      <td>{{item.utilityName}}</td>
      <td>{{item.startTimeInSeconds | date:'medium'}}</td>
      <td>{{item.elapsedTime}}</td>
      <td>{{item.averageTime}}</td>
      <td><ngb-progressbar type={{getBarColor(item.elapsedTimeInSeconds,item.averageTime)}} value="{{item.percentComplete}}" striped="true" animated="true" height="22px">{{item.percentComplete | number: '1.0-0'}}%</ngb-progressbar></td>
    </tr>
  </tbody>
</table>

<app-logging [messages]="currentMessages"></app-logging>
