<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Started</th>
      <th>Elapsed Time (s)</th>
      <th>Avg Time (s)</th>
      <th>% Complete</th>
    </tr>    
  </thead>
  <tbody>
    <tr *ngFor="let item of currentList">
      <th scope="row">{{item.InstanceId}}</th>
      <td>{{item.UtilityName}}</td>
      <td>{{item.StartTime}}</td>
      <td>{{item.ElapsedTime}}</td>
      <td>{{item.AverageTime}}</td>
      <td>{{item.PercentComplete}}</td>  
    </tr>  
  </tbody>
</table>
