<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item" href="#!">Action</a>
    <a class="dropdown-item" href="#!">Another action</a>
  </div>
</div>


<table class="table table-hover">
    <thead>
      <tr>
        <th>Log</th>
        <th>Level</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Completed</th>
        <th>Informational</th>
        <th>OrgID 4417 Completed.</th>
      </tr>
      <tr>
        <th scope="row">Completed</th>
        <th>Informational</th>
        <th>OrgID 8888 Completed.</th>
      </tr>
    </tbody>
  </table>