<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{dropdownText}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" *ngFor="let i of utilityList" (click)="showInstances(i)" >{{i.name}}</button>
      </div>
    </div>
    <div ngbDropdown class="d-inline-block float-right">
        Display:
      <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>{{instanceText}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
        <button class="dropdown-item" (click)="updateInstanceCount(10)" >10</button>
        <button class="dropdown-item" (click)="updateInstanceCount(25)" >25</button>
        <button class="dropdown-item" (click)="updateInstanceCount(50)" >50</button>
        <button class="dropdown-item" (click)="updateInstanceCount(-1)" >All</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Start</th>
      <th>Completed</th>
      <th>Total Running Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of instanceList" (click)="showLogs(i)">
      <th scope="row">{{i.id}}</th>
      <td>{{i.startTimeInSec | date: 'medium' }}</td>
      <td>{{ (i.completeTimeInSec) ? (i.completeTimeInSec | date: 'medium') : '-'}}</td>
      <td>{{i.elapsedTime}}</td>
    </tr>
  </tbody>
</table>
<app-logging [messages]="logList"></app-logging>
